.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.card {
  width: 200px;
  height: 260px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 4px 4px;
  text-align: center;
}

.card img {
  width: 150px;
}
